*{
  box-sizing: border-box;
}

body {
  background-color:#18ad3155;

}

header {
background: #18ad3155;
width: 100%;
}

nav {
max-width:  900px;
margin: 0 auto;
overflow: hidden
}

nav ul {
margin: auto;
display: block;
max-width: 660px;
}

main{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
img{
  width: 250px;
  height: 250px;
}
section{
  margin: auto;
  width: 80%;
}
.box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;  
}

#all-items{
  height: 400px;
}

